<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if header.description %}
      <meta name="description" content="{{ header.description }}">
    {% else %}
      <meta name="description" content="{{ site.description }}">
    {% endif %}
    {% if header.robots %}
      <meta name="robots" content="{{ header.robots }}">
    {% endif %}
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png">

    {% block stylesheets %}
      {% do assets.addCss('theme://bower_components/foundation-icon-fonts/foundation-icons.css', 101) %}
      {% do assets.addCss('theme://css/app.css') %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
      {% do assets.addJs('theme://bower_components/jquery/dist/jquery.min.js', 102) %}
      {% do assets.addJs('theme://bower_components/what-input/what-input.min.js', 101) %}
      {% do assets.addJs('theme://bower_components/foundation-sites/dist/foundation.min.js') %}
    {% endblock %}
    {{ assets.js() }}

  {% endblock head %}
</head>
<body>
  {% block header %}
    {% include 'partials/header.html.twig' %}
  {% endblock %}

  {% block body %}
    {% block content %}{% endblock %}
  {% endblock %}

  {% block footer %}
    {% include 'partials/footer.html.twig' %}
  {% endblock %}

  {% block bottom %}
    <script>
      $(document).foundation();
    </script>
  {% endblock %}
</body>
</html>