<div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">{{ site.title }}</div>
</div>

<div class="top-bar" id="menu">
  <div class="top-bar-left">
    <ul class="menu" data-dropdown-menu>
      <li class="menu-text hide-for-small-only">{{ site.title }}</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu vertical medium-horizontal">
      {% for page in pages.children %}
        {% if page.visible %}
          {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
          <li class="{{ current_page }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>